name: build
on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        version:
          - 2.0.16
          - 2.2.0
          - 2.2.2
          - 2.2.4
    steps:
      - uses: actions/checkout@v5
      - uses: ./
        with:
          nim-version: ${{ matrix.version }}

      - name: Print Nim version
        run: nim -v
      - name: Print Nimby version
        run: nimby -v
      - name: Print Nimble version
        run: nimby install jsony
      - name: Run command
        run: nim c jsony/src/jsony.nim
